[Unit]
Description=IRC Logging Bot
After=network.target

[Service]
WorkingDirectory=/path/to/service/dir
User=service_user
Group=service_user_group
Type=forking
ExecStart=/path/to/service/dir/init_script.sh start
ExecStop=/path/to/service/dir/init_script.sh stop
PIDFile=/path/to/service/dir/IRCbot.pid
RestartSec=30
Restart=always

[Install]
WantedBy=multi-user.target
